# === API Backend ===
NEXT_PUBLIC_API_URL=https://mat-the-api.onrender.com

# === SUPABASE (lấy từ Project Settings > API) ===
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
